# OS files
.DS_Store
._*

# IDE files/folders
.classpath
.project
.settings/
.idea/
Sneaky_Xpress.iml

# GWT files/folders
gwt-unitCache/
out/
war/WEB-INF/classes/com/
war/WEB-INF/deploy/
*.cache.html
*.nocache.js
