# OS files
.DS_Store
._*

# IDE files/folders
#.classpath
#.project
.settings/
.idea/
Sneaky_Xpress.iml

# GWT files/folders
classes/
gwt-unitCache/
out/
test-classes/
war/WEB-INF/classes/com/
war/WEB-INF/deploy/
war/WEB-INF/appengine-web.xml
war/sneaky_xpress/
*.cache.html
*.nocache.js
.gwt/

# Bootstrap folders
war/sneaky_xpress/css/
war/sneaky_xpress/font/
war/sneaky_xpress/img/
war/sneaky_xpress/js/
war/sneaky_xpress/prettify/
