<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
    <!-- Home page -->
    <servlet>
        <servlet-name>com.sneakyxpress.webapp.Sneaky_Xpress GreetingService</servlet-name>
        <servlet-class>com.sneakyxpress.webapp.server.GreetingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.sneakyxpress.webapp.Sneaky_Xpress GreetingService</servlet-name>
        <url-pattern>/sneaky_xpress/greet</url-pattern>
    </servlet-mapping>

    <!-- Browse Vendors page -->
    <servlet>
        <servlet-name>browseVendors</servlet-name>
        <servlet-class>com.sneakyxpress.webapp.server.BrowseVendorsServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>browseVendors</servlet-name>
        <url-pattern>/sneaky_xpress/browseVendors</url-pattern>
    </servlet-mapping>
    
    <!-- Search Results page -->
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.sneakyxpress.webapp.server.SearchServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/sneaky_xpress/search</url-pattern>
    </servlet-mapping>

    <!-- View vendor page -->
    <servlet>
        <servlet-name>viewVendor</servlet-name>
        <servlet-class>com.sneakyxpress.webapp.server.ViewVendorServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewVendor</servlet-name>
        <url-pattern>/sneaky_xpress/viewVendor</url-pattern>
    </servlet-mapping>

    <!-- Update Data cron job -->
    <servlet>
        <servlet-name>updateData</servlet-name>
        <servlet-class>com.sneakyxpress.webapp.server.UpdateDataServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateData</servlet-name>
        <url-pattern>/sneaky_xpress/updateData</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Sneaky_Xpress.html</welcome-file>
    </welcome-file-list>
</web-app>
